<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BiProject1._2Forecast.My.MySettings.BiProjectConnectionString"
            connectionString="Data Source=LAPTOP-LB4U4SD0\SQLEXPRESS;Initial Catalog=BiProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>